In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import mean_squared_error

population_training_df = pd.read_csv('population_training.csv', encoding='cp1252').dropna(axis=0)
population_testing_df = pd.read_csv('population_testing.csv', encoding='cp1252').dropna(axis=0)
print(population_training_df.shape)
print(population_testing_df.shape)

population_training_matrix = population_training_df.values     #numpy array
population_testing_matrix = population_testing_df.values       #numpy array
print(population_training_matrix.shape)
print(population_testing_matrix.shape)

(40, 213)
(17, 213)
(40, 213)
(17, 213)

In [0]:
#function to get minimum value in a dictionary and its corresponding key
def minimum_keys(dic):
    minimum = min(dic.values())
    keys = filter(lambda x:dic[x] == minimum,dic.keys())
    return [i for i in keys],minimum

In [0]:
##Lasso Regularization
from sklearn.linear_model import Lasso
from sklearn import metrics
import statistics

In [0]:
mse_dic={}                                                    #dictionary to track the mse values 
df=pd.DataFrame(index=population_training_df.columns[1:])   # for parameters
#df_pred=pd.DataFrame(population_testing_df['Id'],columns=['Id'])  # for predicition
i=True
j=[]
Alpha=100

lasso_mse=[]
while i: 
  for a in population_training_df.columns[1:]:                             #loop for columns, looping after id column
  #a='Brazil'
    x_train=population_training_df.drop(columns=['Id',a])
    x_test=population_testing_df.drop(columns=['Id',a]).copy()            #made a copy ensuring changeds in x_test doestnt affect population_testing_df
    y_train=population_training_df[a]
    y_test=population_testing_df[a]

    lassoReg = Lasso(alpha=Alpha, normalize=True)

    lassoReg.fit(x_train,y_train)
    i=np.count_nonzero(lassoReg.coef_)>=1    #condition for lasso, we need atleast one predictor
    j.append(np.count_nonzero(lassoReg.coef_))   #creating a list of number of non zero parameters for each country
    #df.loc[~a,a]
    #population_training_df.loc[population_training_df.index!=1,'Aruba']
    df.loc[a,a]=0                                             #obviously this parameter would be 0 as this is the target country
    df.loc[df.index!=a,a]=lassoReg.coef_                      ##LASSO PARAMETER dataframe 
    if np.count_nonzero(lassoReg.coef_)<5:                      # countries(target) for which we have less than 5 predictors 
      y_pred=lassoReg.predict(x_test)
    else:
      for n in x_test.columns:
        if n not in df.nlargest(4, [a])[a].index:             #countries with more than 4 predictors, we choose 4 predictors with the largest parameter(lasso coeffecient)
          #df[a]=0
          df.loc[n,a]=0                                       #setting coeffecients of the remaining(excluding top 4) predictors to zero and storing it in parameters dataframe
          x_test[n]=0                                         #setting the x_test values to 0 for remaining pedictors so that there is no effect of the these predictors on our prediction of the target country
          y_pred=lassoReg.predict(x_test)
    #df_pred[a]=y_pred
    #y_pred=lassoReg.predict(x_test)
        #####for mse

    lasso_mse.append((metrics.mean_squared_error(y_test, y_pred)))    #creating a list of mse for each country for a fixed alpha
  #####

    if i==False:                                                  #this conidtion would break the loop if for a target country there are 0 predictors
           break
  #k=np.array(j)              #this seeems extra
  #if (k==0).sum()>0:
    #break
  mse_dic[Alpha]=statistics.mean(lasso_mse)                         #taking mean value of the mse of all countries for a fixed alpha and storing it in a dictionary
  Alpha+=100

In [0]:
minimum_keys(mse_dic)

([100], 1.310787044400866e+16)

In [0]:
mse_dic

{100: 1.310787044400866e+16, 200: 1.3283994854908906e+16}

In [0]:
minimum_keys(mse_dic)[0][0]

100

In [0]:
the_alpha=150

In [0]:
the_alpha=minimum_keys(mse_dic)[0][0]     ## alpha value giving least mse for predicting at 1999, its 152

In [0]:
#loop for predicting at alpha giving least mse 
mse_dic={}
df=pd.DataFrame(index=population_training_df.columns[1:])   # for parameters
df_pred=pd.DataFrame(population_testing_df['Id'],columns=['Id'])  # for predicition
#i=True
#j=[]
#Alpha=1

lasso_mse=[]
for a in population_training_df.columns[1:]:                             #loop for columns, looping after id column
#a='Brazil'
  x_train=population_training_df.drop(columns=['Id',a])
  x_test=population_testing_df.drop(columns=['Id',a]).copy()
  y_train=population_training_df[a]
  y_test=population_testing_df[a]

  lassoReg = Lasso(alpha=the_alpha, normalize=True)

  lassoReg.fit(x_train,y_train)
  #i=np.count_nonzero(lassoReg.coef_)>=1    #condition for lasso
  #j.append(np.count_nonzero(lassoReg.coef_))   
  #df.loc[~a,a]
  #population_training_df.loc[population_training_df.index!=1,'Aruba']
  df.loc[a,a]=0
  df.loc[df.index!=a,a]=lassoReg.coef_                      ##LASSO PARAMETER dataframe 
  y_pred=lassoReg.predict(x_test)
  # if np.count_nonzero(lassoReg.coef_)<5:
  #   y_pred=lassoReg.predict(x_test)
  # else:
  #   for n in x_test.columns:
  #     if n not in df.nlargest(4, [a])[a].index:
  #       #df[a]=0
  #       df.loc[n,a]=0
  #       x_test[n]=0
  #       y_pred=lassoReg.predict(x_test)
  df_pred[a]=y_pred
    
      #####for mse

  lasso_mse.append((metrics.mean_squared_error(y_test, y_pred)))
#####
mse_dic[the_alpha]=statistics.mean(lasso_mse)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 127656568653.879, tolerance: 39009904451.87751
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2305871.301716119, tolerance: 1108848.2719975
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 9889530846.288363, tolerance: 3218450140.0527606
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 292382690306.7993, tolerance: 94918003985.34439
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1934454611.2829728, tolerance: 971143006.8074975
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 126860003795.91382, tolerance: 26213921276.41407
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 8296905350.627568, tolerance: 5706414972.596908
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 15144984760.233717, tolerance: 4822129432.220397
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 11908535102.451746, tolerance: 6292262279.518189
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 23493443044.507973, tolerance: 14447111126.988192
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2944871625114.826, tolerance: 2319712321224.964
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 128997296.23135518, tolerance: 87987627.09397751
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 22257699.81563008, tolerance: 11509154.518790003
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3108549212.392412, tolerance: 1643970211.4847903
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 15586219.184984088, tolerance: 6447284.69484
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3784745639015.26, tolerance: 3692878944448.2188
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1126949.0791861117, tolerance: 538252.4587375
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 38412240.55295576, tolerance: 21778286.51144
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 63799650.85891524, tolerance: 49056173.96069751
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 723411824.7260733, tolerance: 553265282.3407376
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 200829989311.759, tolerance: 55124432534.90633
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1381798037.9985971, tolerance: 832248298.67831
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 764427.0087465122, tolerance: 501538.4346975001
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 27790062557.360424, tolerance: 18697558017.512108
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 166260485465.10336, tolerance: 61615991816.60136
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 92182836834.23492, tolerance: 34788815703.641
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 885788268337.1985, tolerance: 328116463115.38904
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1882914482.3849812, tolerance: 1543456519.23679
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 472815938354.58014, tolerance: 196160899811.10443
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 35885466.11120877, tolerance: 14125096.552677503
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 11801298474.866863, tolerance: 5354493243.670098
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 59488005.59693846, tolerance: 41173496.7095775
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 193910027728.86902, tolerance: 20282231710.813713
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 377035688.9786366, tolerance: 169599567.05096
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 409566645.7756462, tolerance: 149406090.1222
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 10587608714.88718, tolerance: 9431472770.07524
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 311398673025.19745, tolerance: 153881615260.66446
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 39310913593.15887, tolerance: 22308402946.166977
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1378202819071.1743, tolerance: 634075940361.6238
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 177650376417.3241, tolerance: 37849498671.51244
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1299990380786.9827, tolerance: 602490996489.9536
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 231627483.79385233, tolerance: 180729541.34675002
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 68692928.10295138, tolerance: 61495814.112897515
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 246282795959.0055, tolerance: 58772900448.66949
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 238452172.33933026, tolerance: 179180806.49179748
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 56237707024.86194, tolerance: 9015328992.54778
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1719750098.3128662, tolerance: 504594455.5
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 131719781548.90436, tolerance: 48779250618.46819
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 13191787246.969845, tolerance: 8980973701.2376
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 296723056.14259684, tolerance: 265995717.24536
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 236500527.4441463, tolerance: 131126684.35644
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 164376863.6412058, tolerance: 40834803.711577505
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 11389478265.735863, tolerance: 2386820604.9971976
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 20468085311.149845, tolerance: 17922313361.036682
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5098555.909618691, tolerance: 2854901.5520775
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 38486082221.71441, tolerance: 4289022411.2774377
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3667444923.763547, tolerance: 370217810.63735
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1352538827787.7107, tolerance: 792102310474.4645
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 251030871105.19406, tolerance: 81967181079.26663
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7344404.499155074, tolerance: 3420834.3399775
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 16529140803.053879, tolerance: 5075894079.839001
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 98912804177.94879, tolerance: 17455637129.08448
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 513031868.868996, tolerance: 377314775.68783754
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 16946824059.681961, tolerance: 5990234968.260077
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1057245108690.4562, tolerance: 454443307674.9804
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 94354383818.01453, tolerance: 14279828996.424477
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 560026883017.7896, tolerance: 187946001155.52692
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5887990608.447811, tolerance: 2512598784.975
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 55005336195.294266, tolerance: 11029472962.365509
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1759733.7802959532, tolerance: 586159.3971975
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 504990484594.24054, tolerance: 163179535263.9517
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6500058908.414688, tolerance: 3439288473.841078
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7406364312.987166, tolerance: 698507228.1517776
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 22785555769.262707, tolerance: 6053943667.01964
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3498345.934196152, tolerance: 1519547.8043775
  positive)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 102043.11979621649, tolerance: 87978.2852975
  positive)

In [0]:
mse_dic

{150: 59003112867534.82}

In [0]:
# to check the number of non zero coeffecients in the parameters data frame df 
out=pd.DataFrame()
for z in df.columns:                                 ####confirm this 
  #print(z,np.count_nonzero(df[z].values))
  out.loc[z,'val']=np.count_nonzero(df[z].values)

out[out.val<5]

                          val
Aruba                     4.0
Antigua and Barbuda       2.0
Bermuda                   4.0
Curacao                   3.0
Cayman Islands            4.0
Dominica                  3.0
Estonia                   4.0
Gibraltar                 3.0
Grenada                   1.0
Isle of Man               3.0
St. Kitts and Nevis       3.0
Monaco                    3.0
Nauru                     2.0
Palau                     4.0
Turks and Caicos Islands  4.0
Tuvalu                    1.0
British Virgin Islands    4.0

In [0]:
out.loc['Aruba',:]

val    5.0
Name: Aruba, dtype: float64

In [0]:
df.to_csv('lasso parameters_153.csv')

In [0]:
df.head()

             Aruba  Afghanistan  ...      Zambia    Zimbabwe
Aruba          0.0    273.61398  ...  191.998977  230.752897
Afghanistan    0.0      0.00000  ...    0.000000    0.000000
Angola         0.0      0.00000  ...    0.000000    0.000000
Albania        0.0      0.00000  ...    0.000000    0.000000
Andorra        0.0      0.00000  ...    0.000000    0.000000

[5 rows x 212 columns]

In [0]:
# kk=[]
# for i in df.columns:
#   kk.append(np.count_nonzero(df[i].values))

# #(np.array(kk)==0).sum()
# #kk

In [0]:
# (np.array(kk)<=4).sum()                          ##does the same as out function

212

In [0]:
df.nlargest(4, [a])[a].index

Index(['Aruba', 'Isle of Man', 'Tonga', 'Malta'], dtype='object')

In [0]:
np.count_nonzero(lassoReg.coef_)

92

In [0]:
df.head

<bound method NDFrame.head of                    Brazil
Aruba         2312.171479
Afghanistan      0.000000
Angola           0.000000
Albania          0.000000
Andorra          0.000000
...                   ...
Kosovo           0.000000
Yemen, Rep.      0.000000
South Africa     0.000000
Zambia           0.000000
Zimbabwe         0.000000

[212 rows x 1 columns]>

In [0]:
df.nlargest(4, [a])[a]

American Samoa              14.782562
Aruba                       12.641078
Andorra                      6.573717
St. Martin (French part)     5.883519
Name: Zimbabwe, dtype: float64

In [0]:
df.head()

In [0]:
df_pred.to_csv('Lasso_output.csv',index=False)

In [0]:
np.count_nonzero(lassoReg.coef_)

16

In [0]:
# mse_dic={}
# df={}
# i=True
# j=[]
# Alpha=151
# while i:   # alpha loop
#     lasso_mse=[]
#     for a in population_training_df.columns[1:]:                             #loop for columns
#         x_train=population_training_df.iloc[:39].drop(columns=['Id',a])
#         x_val=population_training_df.iloc[39:].drop(columns=['Id',a])
#         y_train=population_training_df.iloc[:39][a]
#         y_val=population_training_df.iloc[39:][a]

#         lassoReg = Lasso(alpha=Alpha, normalize=True)

#         lassoReg.fit(x_train,y_train)
#         i=np.count_nonzero(lassoReg.coef_)>=1    #condition for lasso
#         j.append(np.count_nonzero(lassoReg.coef_))   
#         df[a]=pd.DataFrame(lassoReg.coef_,index=x_train.columns,columns=[a])
#         #####for mse
#         t=pd.DataFrame(lassoReg.coef_,index=x_train.columns,columns=[a]).sort_values(by=a,ascending=False)[:4].index.values
#         for n in x_val.columns:
#             if n not in t:
#                 x_val[n]=0

#         y_pred = lassoReg.predict(x_val)

#         lasso_mse.append((metrics.mean_squared_error(y_val, y_pred)))
#         #####
#         if i==False:
#            break
#     k=np.array(j)
#     if (k==0).sum()>0:
#       break
#     mse_dic[Alpha]=statistics.mean(lasso_mse)
#     Alpha+=1

In [0]:
minimum_keys(mse_dic)

([152], 1.2272129944641636e+16)

In [0]:
mse_dic.keys()

dict_keys([151, 152, 153])

In [0]:
df['Afghanistan'][df['Afghanistan'].values>0]

                     Afghanistan
Aruba                 251.450129
Antigua and Barbuda    55.229832
Austria                 0.631031
Belgium                 0.586958
Czech Republic          0.204525
Germany                 0.000084
Guyana                  1.750151
Croatia                 0.009079
Lebanon                 0.429131
Luxembourg              0.427486
Montenegro              1.780785
Sweden                  0.006294
Timor-Leste             0.821227

In [0]:
mse_dic={}
df=pd.DataFrame(index=x_train.columns)
#for i in range(100*(10**6),1000*(10**6),10**6):   # alpha loop
lasso_mse=[]
for a in population_training_df.columns[1:]:                             #loop for columns
	x_train=population_training_df.drop(columns=['Id',a])
	x_test=population_testing_df.drop(columns=['Id',a])
	y_train=population_training_df[a]
	y_test=population_testing_df[a]

	lassoReg = Lasso(alpha=152, normalize=True)    #the_alpha=152

	lassoReg.fit(x_train,y_train)


	df[a]=lassoReg.coef_
	
  t=pd.DataFrame(lassoReg.coef_,index=x_train.columns,columns=[a]).sort_values(by=a,ascending=False)[:4].index.values
	for n in x_val.columns:
		if n not in t:
			x_val[n]=0

	y_pred = lassoReg.predict(x_val)

	lasso_mse.append((metrics.mean_squared_error(y_val, y_pred)))

mse_dic[the_alpha]=statistics.mean(lasso_mse)

In [0]:
np.count_nonzero(lassoReg.coef_)

0

In [0]:
out=pd.DataFrame()
for z in df.keys():
  #print(z,np.count_nonzero(df[z].values))
  out.loc[z,'val']=np.count_nonzero(df[z].values)

In [0]:
out[out.val<5]

                          val
Antigua and Barbuda       2.0
Bermuda                   4.0
Curacao                   3.0
Cayman Islands            4.0
Dominica                  3.0
Estonia                   4.0
Gibraltar                 2.0
Grenada                   1.0
Isle of Man               3.0
St. Kitts and Nevis       3.0
St. Martin (French part)  4.0
Monaco                    2.0
Nauru                     2.0
Palau                     3.0
San Marino                3.0
Turks and Caicos Islands  2.0
Tuvalu                    0.0
British Virgin Islands    4.0

In [0]:
population_testing_df.head()

     Id  Aruba  Afghanistan  ...  South Africa    Zambia  Zimbabwe
0  2000  90853     20093756  ...      45728315  10531221  12222251
1  2001  92898     20966463  ...      46385006  10824125  12366165
2  2002  94992     21979923  ...      47026173  11120409  12500525
3  2003  97017     23064851  ...      47648727  11421984  12633897
4  2004  98737     24118979  ...      48247395  11731746  12777511

[5 rows x 213 columns]

In [0]:
df['Isle of Man'][df['Isle of Man'].values!=0]

                       Isle of Man
Djibouti                  0.012004
Sweden                    0.006915
Virgin Islands (U.S.)     0.085503

In [0]:
minimum_keys(mse_dic)
#np.count_nonzero(lassoReg.coef_)

([31], 1.4389380583983402e+16)

In [0]:
mse_dic.keys()

dict_keys([1, 6, 11, 16, 21, 26, 31, 36])

In [0]:
np.count_nonzero(lassoReg.coef_)

3

In [0]:
df['Isle of Man'][df['Isle of Man'].values!=0]

                       Isle of Man
Djibouti                  0.012004
Sweden                    0.006915
Virgin Islands (U.S.)     0.085503

In [0]:
k=[]
for m in range(0,10):
  k.append(m)
j=np.array(k)
j==0

array([ True, False, False, False, False, False, False, False, False,
       False])

In [0]:
(j==0).sum()

1

In [0]:
if True:
  print(2+2)

4

In [0]:
pd.DataFrame(lassoReg.coef_,index=x_train.columns,columns=[a]).sort_values(by=a,ascending=False)

             Antigua and Barbuda
Gibraltar               1.765196
Afghanistan             0.000677
Mauritius               0.000000
Malaysia                0.000000
Namibia                 0.000000
...                          ...
Greece                  0.000000
Grenada                -0.000000
Greenland               0.000000
Guatemala               0.000000
Zimbabwe               -0.000000

[211 rows x 1 columns]

In [0]:
minimum_keys(mse_dic)

([7000], 1856993164120708.0)

In [0]:
pd.DataFrame(lassoReg.coef_,index=x_train.columns,columns=[a]).sort_values(by=a,ascending=False)

                    Zimbabwe
Botswana            0.761886
Algeria             0.153720
Iran, Islamic Rep.  0.015567
Nauru               0.000000
Malaysia            0.000000
...                      ...
Equatorial Guinea   0.000000
Greece              0.000000
Grenada             0.000000
Greenland           0.000000
Zambia              0.000000

[211 rows x 1 columns]

In [0]:
out=pd.DataFrame()
for z in df.keys():
  #print(z,np.count_nonzero(df[z].values))
  out.loc[z,'val']=np.count_nonzero(df[z].values)

In [0]:
out[out.val<=4]

                val
Curacao         4.0
Cayman Islands  4.0
Dominica        4.0
Grenada         4.0
Isle of Man     3.0

In [0]:
df['Grenada'][df['Grenada'].values<0]

              Grenada
Afghanistan -0.000230
Isle of Man -0.018406

              Isle of Man
Aruba                 NaN
Afghanistan           NaN
Angola                NaN
Albania               NaN
Andorra               NaN
...                   ...
Kosovo                NaN
Yemen, Rep.           NaN
South Africa          NaN
Zambia                NaN
Zimbabwe              NaN

[211 rows x 1 columns]

In [0]:
pd.DataFrame(lassoReg.coef_,index=x_train.columns,columns=[a]).sort_values(by=a,ascending=False)#[:4].index.values

                           Zimbabwe
Andorra                   15.441744
Marshall Islands           7.710959
St. Martin (French part)   7.266686
American Samoa             6.878197
Monaco                     2.388262
...                             ...
Hong Kong SAR, China       0.000000
Honduras                   0.000000
Croatia                    0.000000
Haiti                      0.000000
Zambia                     0.000000

[211 rows x 1 columns]

In [0]:
minimum_keys(mse_dic)

([10000000], 6230564599052961.0)

In [0]:
mse_dic

{10000000: 6230564599052961.0}

In [0]:
i=np.count_nonzero(lassoReg.coef_)==4
i

False

In [0]:
np.count_nonzero(lassoReg.coef_)<=4

False

In [0]:
df=pd.DataFrame(index=x_train.columns)
df.head()

Empty DataFrame
Columns: []
Index: [Aruba, Afghanistan, Angola, Albania, Andorra]

In [0]:
for i in x_train.columns:
    df[i]=1

In [0]:
df

              Aruba  Afghanistan  Angola  ...  South Africa  Zambia  Zimbabwe
Aruba             1            1       1  ...             1       1         1
Afghanistan       1            1       1  ...             1       1         1
Angola            1            1       1  ...             1       1         1
Albania           1            1       1  ...             1       1         1
Andorra           1            1       1  ...             1       1         1
...             ...          ...     ...  ...           ...     ...       ...
Kosovo            1            1       1  ...             1       1         1
Yemen, Rep.       1            1       1  ...             1       1         1
South Africa      1            1       1  ...             1       1         1
Zambia            1            1       1  ...             1       1         1
Zimbabwe          1            1       1  ...             1       1         1

[211 rows x 211 columns]

In [0]:
al=6
i=10
while al-i!=6:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1